@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic);

body {
	font-family: 'Ubuntu Mono', Monaco, monospaced;
	background: url(../images/tothestars.jpg) #4B9FB3;
	background-repeat: no-repeat;
	background-size: 100%;
}


div.messages.warning {
	background: yellow;
}

div.messages.error {
	background: red;
}
