h2.block-title {
	font-size: 1.5em;
}

.sidebar .block {
	border: 1px solid #E0E0E0;
	border-radius: 5px;
	box-shadow: 1px 1px 12px -5px;
	padding: 15px;
	margin: 5px 0;
	background: #FFFFF9
}

.l-triptych .block {
	background: #f2f2f2;
	padding: 15px;
	margin: 0px 10px;
	border: 1px solid #d7d7d7;
	box-shadow: 1px 1px 12px -5px;

}
