ul.links {
	list-style-type: none;
	text-align: right;
}

.section-register .entity-ticket-type {
	color: #695D5D;
	border: 2px solid #8d8d8d;
	background: #FFFEEF;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px 1px #bbbbbb;
}

.section-register .entity-ticket-type .field-name-ticket-type-label {
	font-size: 2em;
	font-weight: bold;

}

.edit-ticket-quantity-1 {
	font-size: 1.5em;
}