
#commerce-checkout-form-checkout fieldset legend{
	padding: 10px;
	width: 100%;
	border: 1px solid $primary-color;

}

.view-commerce-cart-summary table {
	width: 100%;
}

table.checkout-review {
	width: 100%;
}

#edit-credit-card-exp-month,
#edit-credit-card-exp-year {
	width: 13%;
}