
.l-triptych h2.block-title {
	background: white;
	padding: 5px;
}
.front .l-triptych .view h2 {
	font-size: 1.5em;

}

.l-triptych .view p {
	line-height: 1.3;
	margin-top: 1em;
}

.l-triptych .view .posted {
	font-size: .90em;
	text-align: center;
}
