#block-system-main-menu {
	border: 1px solid rgb(167, 167, 167);
	background: silver;
	border-radius: 5px;
	box-shadow: 1px 1px 1px black;

}

#block-system-main-menu .block {
	border: none;


}

#block-system-main-menu .block__title {
	display: none;
}

#block-system-main-menu ul.menu {
	list-style: none;

}

#block-system-main-menu ul.menu li {
	display: inline;
	font-size: 1.5em;
	margin: 0px 15px;
	text-align: justify;
	
}

#block-system-main-menu a {
	text-decoration: none;
	text-transform: uppercase;
}