// Non-modular or client styles for .l-header region.

.l-header {
	min-height: 400px;
	background: url(../images/tothestars.png) no-repeat bottom;
	//margin-bottom: 20px;
	box-shadow: 2px 2px 2px;
}

#title_block {
	width: 45%;
	background: rgba(215, 215, 215, 0.53);
	padding: 15px;
	border-radius: 1px;
	margin-top: 5px;

}

#title_block h1,
#title_block h2,
#title_block h3 {
	color: rgb(199, 21, 21);
}

#title_block h2 {
	font-size: 2rem;
}