// Non-modular or client styles for .l-header region.


.front .l-header {
	min-height: 400px;
	background: url(../images/tothestars.png) no-repeat bottom;
	//margin-bottom: 20px;
	box-shadow: 2px 2px 2px;
}

#title_block {
	width: 45%;
	background: rgba(241, 238, 157, 0.64);
	padding: 15px;
	border-radius: 1px;
	margin-top: 5px;
	border: 1px solid #C4C4C4;
	box-shadow: 1px 1px 15px -2px #E03535;
}

#title_block h1,
#title_block h2,
#title_block h3 {
	color: #B90707;
	font-family: 'Russo One', sans-serif;
}

#title_block h1 {
	font-size: 3rem;
	font-variant: small-caps;
}

#title_block h2 {
	font-size: 1.75rem;
}