// Non-modular or client styles for the .l-content region.
.l-main.row {
	margin-top: 20px;

}

.l-main .main {
	background: #d7d7d7;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #AAADAD;
	box-shadow: 1px 1px 12px -5px;	
}

.l-triptych {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

