@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic);
/* No files to import found in abstractions/**\/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/logickal\/Dev\/devdesktop\/phreaknic\/sites\/all\/themes\/phreaknic\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/logickal\/Dev\/devdesktop\/phreaknic\/sites\/all\/themes\/phreaknic\/sass\/base\/_regions\.scss}line{font-family:\000032}}
.l-header {
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/logickal\/Dev\/devdesktop\/phreaknic\/sites\/all\/themes\/phreaknic\/sass\/base\/_regions\.scss}line{font-family:\000037}}
.l-branding {
  width: 75%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/logickal\/Dev\/devdesktop\/phreaknic\/sites\/all\/themes\/phreaknic\/sass\/base\/_regions\.scss}line{font-family:\0000310}}
.site-branding__name {
  color: #4B9FB3;
  font-size: 2.5em;
  margin-bottom: 0px;
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/logickal\/Dev\/devdesktop\/phreaknic\/sites\/all\/themes\/phreaknic\/sass\/base\/_regions\.scss}line{font-family:\0000317}}
.site-branding h1 {
  margin: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/logickal\/Dev\/devdesktop\/phreaknic\/sites\/all\/themes\/phreaknic\/sass\/base\/_regions\.scss}line{font-family:\0000321}}
h2.site-branding__slogan {
  color: black;
  font-size: 1.2em;
  margin-left: 10px;
  width: 100%;
  max-width: 500px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/logickal\/Dev\/devdesktop\/phreaknic\/sites\/all\/themes\/phreaknic\/sass\/base\/_regions\.scss}line{font-family:\0000332}}
.l-region--sidebar-second,
.l-content,
.l-highlighted-wrapper,
.l-footer-wrapper {
  background: rgba(255, 255, 255, 0.74);
  border: 1px solid silver;
  border-radius: 5px;
  box-shadow: 1px 3px 3px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/logickal\/Dev\/devdesktop\/phreaknic\/sites\/all\/themes\/phreaknic\/sass\/base\/_regions\.scss}line{font-family:\0000341}}
.l-content,
.l-highlighted-wrapper {
  padding: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/logickal\/Dev\/devdesktop\/phreaknic\/sites\/all\/themes\/phreaknic\/sass\/base\/_regions\.scss}line{font-family:\0000346}}
.l-highlighted-wrapper {
  margin-top: 25px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/logickal\/Dev\/devdesktop\/phreaknic\/sites\/all\/themes\/phreaknic\/sass\/base\/_regions\.scss}line{font-family:\0000350}}
.l-main {
  border-radius: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/logickal\/Dev\/devdesktop\/phreaknic\/sites\/all\/themes\/phreaknic\/sass\/base\/_typography\.scss}line{font-family:\000033}}
body {
  font-family: 'Ubuntu Mono', Monaco, monospaced;
  background: url(../images/tothestars.jpg) #4b9fb3;
  background-repeat: no-repeat;
  background-size: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/logickal\/Dev\/devdesktop\/phreaknic\/sites\/all\/themes\/phreaknic\/sass\/base\/_typography\.scss}line{font-family:\0000311}}
div.messages.warning {
  background: yellow; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/logickal\/Dev\/devdesktop\/phreaknic\/sites\/all\/themes\/phreaknic\/sass\/base\/_typography\.scss}line{font-family:\0000315}}
div.messages.error {
  background: red; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/logickal\/Dev\/devdesktop\/phreaknic\/sites\/all\/themes\/phreaknic\/sass\/components\/_blocks\.scss}line{font-family:\000031}}
.block {
  border: 1px dashed black;
  margin: 10px 0;
  padding: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/logickal\/Dev\/devdesktop\/phreaknic\/sites\/all\/themes\/phreaknic\/sass\/components\/_navigation\.scss}line{font-family:\000031}}
#block-system-main-menu {
  border: 1px solid #a7a7a7;
  background: silver;
  border-radius: 5px;
  box-shadow: 1px 1px 1px black; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/logickal\/Dev\/devdesktop\/phreaknic\/sites\/all\/themes\/phreaknic\/sass\/components\/_navigation\.scss}line{font-family:\000039}}
#block-system-main-menu .block {
  border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/logickal\/Dev\/devdesktop\/phreaknic\/sites\/all\/themes\/phreaknic\/sass\/components\/_navigation\.scss}line{font-family:\0000315}}
#block-system-main-menu .block__title {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/logickal\/Dev\/devdesktop\/phreaknic\/sites\/all\/themes\/phreaknic\/sass\/components\/_navigation\.scss}line{font-family:\0000319}}
#block-system-main-menu ul.menu {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/logickal\/Dev\/devdesktop\/phreaknic\/sites\/all\/themes\/phreaknic\/sass\/components\/_navigation\.scss}line{font-family:\0000324}}
#block-system-main-menu ul.menu li {
  display: inline;
  font-size: 1.5em;
  margin: 0px 15px;
  text-align: justify; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/logickal\/Dev\/devdesktop\/phreaknic\/sites\/all\/themes\/phreaknic\/sass\/components\/_navigation\.scss}line{font-family:\0000332}}
#block-system-main-menu a {
  text-decoration: none;
  text-transform: uppercase; }
